body{
    background-color: #273c75;
    background-repeat: no-repeat;
    margin: 0;
    color: white;
    height: 100vh;
    font-family: 'Libre Baskerville', serif;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    min-height: 13rem;
    min-width: 10rem;
    max-width: 12rem;
    margin: 2rem;
    /* background-color: #dcdde1; */
    background-color: #2f3640;
    text-align: center;
    transition: ease all 1s;
    border-radius: 2rem;
}

.card:hover{
    -webkit-box-shadow: 0px 0px 28px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 28px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 28px 4px rgba(0, 0, 0, 0.5);
    transition: ease all 1s;
}


nav{
    background-color: #2f3640;
    padding: 0.5rem;
}

nav h1{
    display: inline-block;
}

.links{
    display: flex;
    justify-content: end;
}

.cardLink{
    text-decoration: none;
    color: black;
}


.links a{
    margin-right: 0.5rem;
    text-decoration: none;
    color: white;
    transition: all ease 1s;
}


.links a:hover{
    color: gray;
    transition: all ease 0.7s;
}

.container{
    display: flex;
    justify-content: space-around;
    color: black;
    margin: 10%;
}

.especificaciones{
    text-align: center;
    background-color: #353b48;
    display: flex;
    flex-direction: column;
}

h1{
    margin: 0.5rem;
}
